// Reset
// ----------------------------------------

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

[hidden]:not([hidden="until-found"]) {
  display: none !important;
}

// Custom
// ----------------------------------------

html {
  font: 400 16px / 1.5 sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mac:lang(zh-Hans) { font-family: -apple-system, Inter, BlinkMacSystemFont, "PingFang SC", "Hiragino Sans GB", sans-serif; }
.windows:lang(zh-Hans) { font-family: Inter, "Segoe WPC", "Segoe UI", "Microsoft YaHei", sans-serif; }
.linux:lang(zh-Hans) { font-family: system-ui, Inter, "Ubuntu", "Droid Sans", "Source Han Sans SC", "Source Han Sans CN", "Source Han Sans", sans-serif; }

body {
  min-width: 320px;
  color: var(--body-color);
  background-color: var(--body-bg);
}

table {
  text-indent: 0;
  border-collapse: collapse;
}

iframe {
  display: block;
  width: 100%;
  height: 100%;
  border-style: none;
}

hr {
  height: 0;
  border: none;
  color: inherit;
  border-top: 1px solid var(--border-color);
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: none;
}

code, kbd, samp, pre {
  font-family: var(--code-font);
}

summary {
  display: list-item;
}
