// Radix(https://www.radix-ui.com/colors)

:root {
  --gray-a1: hsla(0, 0%, 0%, 0.01);
  --gray-a2: hsla(0, 0%, 0%, 0.02);
  --gray-a3: hsla(0, 0%, 0%, 0.06);
  --gray-a4: hsla(0, 0%, 0%, 0.09);
  --gray-a5: hsla(0, 0%, 0%, 0.12);
  --gray-a6: hsla(0, 0%, 0%, 0.15);
  --gray-a7: hsla(0, 0%, 0%, 0.19);
  --gray-a8: hsla(0, 0%, 0%, 0.27);
  --gray-a9: hsla(0, 0%, 0%, 0.45);
  --gray-a10: hsla(0, 0%, 0%, 0.49);
  --gray-a11: hsla(0, 0%, 0%, 0.61);
  --gray-a12: hsla(0, 0%, 0%, 0.87);

  --yellow-a1: hsla(60, 100%, 33%, 0.02);
  --yellow-a2: hsla(54, 100%, 48%, 0.09);
  --yellow-a3: hsla(56, 100%, 50%, 0.28);
  --yellow-a4: hsla(53, 100%, 50%, 0.42);
  --yellow-a5: hsla(50, 100%, 50%, 0.56);
  --yellow-a6: hsla(48, 100%, 46%, 0.59);
  --yellow-a7: hsla(46, 100%, 41%, 0.6);
  --yellow-a8: hsla(45, 100%, 39%, 0.78);
  --yellow-a9: hsla(53, 100%, 50%, 0.84);
  --yellow-a10: hsl(52, 100%, 50%);
  --yellow-a11: hsl(41, 100%, 31%);
  --yellow-a12: hsla(42, 100%, 9%, 0.88);

  --red-a1: hsla(0, 100%, 50%, 0.01);
  --red-a2: hsla(0, 100%, 50%, 0.03);
  --red-a3: hsla(357, 100%, 48%, 0.08);
  --red-a4: hsla(358, 100%, 50%, 0.14);
  --red-a5: hsla(359, 100%, 50%, 0.2);
  --red-a6: hsla(359, 100%, 49%, 0.26);
  --red-a7: hsla(359, 100%, 44%, 0.34);
  --red-a8: hsla(359, 100%, 41%, 0.44);
  --red-a9: hsla(358, 100%, 43%, 0.72);
  --red-a10: hsla(359, 100%, 41%, 0.76);
  --red-a11: hsla(358, 100%, 38%, 0.83);
  --red-a12: hsla(351, 100%, 17%, 0.91);

  --purple-a1: hsla(300, 100%, 33%, 0.01);
  --purple-a2: hsla(274, 100%, 44%, 0.03);
  --purple-a3: hsla(275, 100%, 47%, 0.07);
  --purple-a4: hsla(277, 100%, 45%, 0.11);
  --purple-a5: hsla(275, 100%, 43%, 0.16);
  --purple-a6: hsla(275, 99%, 41%, 0.23);
  --purple-a7: hsla(274, 100%, 38%, 0.31);
  --purple-a8: hsla(272, 100%, 38%, 0.42);
  --purple-a9: hsla(272, 100%, 34%, 0.69);
  --purple-a10: hsla(272, 100%, 31%, 0.72);
  --purple-a11: hsla(272, 100%, 30%, 0.73);
  --purple-a12: hsla(270, 100%, 14%, 0.87);

  --blue-a1: hsla(210, 100%, 50%, 0.02);
  --blue-a2: hsla(207, 100%, 50%, 0.04);
  --blue-a3: hsla(205, 100%, 48%, 0.1);
  --blue-a4: hsla(203, 100%, 50%, 0.16);
  --blue-a5: hsla(205, 100%, 50%, 0.24);
  --blue-a6: hsla(207, 100%, 48%, 0.33);
  --blue-a7: hsla(207, 100%, 46%, 0.44);
  --blue-a8: hsla(206, 100%, 45%, 0.63);
  --blue-a9: hsl(206, 100%, 50%);
  --blue-a10: hsla(207, 100%, 47%, 0.98);
  --blue-a11: hsla(208, 100%, 40%, 0.95);
  --blue-a12: hsla(216, 100%, 17%, 0.93);

  --green-a1: hsla(140, 100%, 38%, 0.02);
  --green-a2: hsla(137, 100%, 32%, 0.04);
  --green-a3: hsla(139, 100%, 32%, 0.1);
  --green-a4: hsla(140, 100%, 33%, 0.16);
  --green-a5: hsla(142, 99%, 31%, 0.23);
  --green-a6: hsla(144, 100%, 29%, 0.32);
  --green-a7: hsla(146, 100%, 28%, 0.44);
  --green-a8: hsla(151, 100%, 29%, 0.64);
  --green-a9: hsla(151, 100%, 28%, 0.81);
  --green-a10: hsla(152, 100%, 26%, 0.83);
  --green-a11: hsla(153, 100%, 22%, 0.87);
  --green-a12: hsla(155, 100%, 7%, 0.9);
}

.dark {
  --gray-a1: hsla(0, 0%, 100%, 0);
  --gray-a2: hsla(0, 0%, 100%, 0.04);
  --gray-a3: hsla(0, 0%, 100%, 0.07);
  --gray-a4: hsla(0, 0%, 100%, 0.11);
  --gray-a5: hsla(0, 0%, 100%, 0.13);
  --gray-a6: hsla(0, 0%, 100%, 0.17);
  --gray-a7: hsla(0, 0%, 100%, 0.23);
  --gray-a8: hsla(0, 0%, 100%, 0.33);
  --gray-a9: hsla(0, 0%, 100%, 0.39);
  --gray-a10: hsla(0, 0%, 100%, 0.45);
  --gray-a11: hsla(0, 0%, 100%, 0.69);
  --gray-a12: hsla(0, 0%, 100%, 0.93);

  --yellow-a1: hsla(23, 100%, 41%, 0.02);
  --yellow-a2: hsla(43, 100%, 49%, 0.04);
  --yellow-a3: hsla(40, 100%, 50%, 0.12);
  --yellow-a4: hsla(43, 100%, 50%, 0.16);
  --yellow-a5: hsla(44, 100%, 50%, 0.21);
  --yellow-a6: hsla(46, 100%, 50%, 0.27);
  --yellow-a7: hsla(46, 98%, 56%, 0.36);
  --yellow-a8: hsla(45, 98%, 59%, 0.48);
  --yellow-a9: hsl(53, 100%, 58%);
  --yellow-a10: hsl(60, 100%, 67%);
  --yellow-a11: hsla(53, 99%, 64%, 0.96);
  --yellow-a12: hsla(53, 97%, 86%, 0.96);

  --red-a1: hsla(0, 91%, 51%, 0.04);
  --red-a2: hsla(355, 88%, 57%, 0.07);
  --red-a3: hsla(350, 100%, 55%, 0.18);
  --red-a4: hsla(348, 99%, 52%, 0.27);
  --red-a5: hsla(350, 100%, 56%, 0.34);
  --red-a6: hsla(353, 100%, 62%, 0.41);
  --red-a7: hsla(355, 100%, 66%, 0.52);
  --red-a8: hsla(359, 100%, 68%, 0.69);
  --red-a9: hsla(358, 99%, 65%, 0.89);
  --red-a10: hsla(360, 100%, 70%, 0.92);
  --red-a11: hsl(2, 100%, 79%);
  --red-a12: hsl(350, 100%, 91%);

  --purple-a1: hsla(282, 95%, 52%, 0.04);
  --purple-a2: hsla(279, 92%, 62%, 0.08);
  --purple-a3: hsla(279, 100%, 66%, 0.18);
  --purple-a4: hsla(277, 98%, 66%, 0.26);
  --purple-a5: hsla(277, 98%, 68%, 0.32);
  --purple-a6: hsla(275, 97%, 71%, 0.38);
  --purple-a7: hsla(274, 97%, 73%, 0.48);
  --purple-a8: hsla(273, 100%, 75%, 0.64);
  --purple-a9: hsla(272, 100%, 69%, 0.76);
  --purple-a10: hsla(272, 100%, 72%, 0.8);
  --purple-a11: hsla(272, 100%, 81%);
  --purple-a12: hsla(275, 100%, 93%, 0.98);

  --blue-a1: hsla(221, 100%, 47%, 0.07);
  --blue-a2: hsla(218, 97%, 53%, 0.09);
  --blue-a3: hsla(212, 100%, 50%, 0.23);
  --blue-a4: hsla(212, 100%, 50%, 0.34);
  --blue-a5: hsla(209, 100%, 50%, 0.42);
  --blue-a6: hsla(209, 98%, 53%, 0.5);
  --blue-a7: hsla(211, 99%, 58%, 0.6);
  --blue-a8: hsla(211, 99%, 59%, 0.73);
  --blue-a9: hsl(206, 100%, 50%);
  --blue-a10: hsl(210, 100%, 62%);
  --blue-a11: hsl(210, 100%, 72%);
  --blue-a12: hsl(205, 100%, 88%);

  --green-a1: hsla(139, 100%, 44%, 0.02);
  --green-a2: hsla(153, 95%, 57%, 0.04);
  --green-a3: hsla(152, 100%, 57%, 0.12);
  --green-a4: hsla(154, 100%, 53%, 0.18);
  --green-a5: hsla(154, 100%, 58%, 0.24);
  --green-a6: hsla(153, 100%, 63%, 0.29);
  --green-a7: hsla(152, 98%, 65%, 0.37);
  --green-a8: hsla(151, 100%, 66%, 0.45);
  --green-a9: hsla(151, 100%, 63%, 0.62);
  --green-a10: hsla(151, 99%, 63%, 0.67);
  --green-a11: hsla(151, 99%, 64%, 0.83);
  --green-a12: hsla(145, 100%, 87%, 0.94);
}

// 自定义扩展

:root {
  --yellow-surface: hsla(53, 93%, 95%, 0.8);
  --red-surface: hsla(0, 100%, 98%, 0.8);
  --purple-surface: hsla(273, 82%, 98%, 0.8);
  --blue-surface: hsla(206, 100%, 97%, 0.8);
  --green-surface: hsla(140, 47%, 96%, 0.8);
}

.dark {
  --yellow-surface: hsla(45, 30%, 11%, 0.8);
  --red-surface: hsla(355, 38%, 13%, 0.5);
  --purple-surface: hsla(280, 39%, 15%, 0.5);
  --blue-surface: hsla(218, 56%, 15%, 0.5);
  --green-surface: hsla(150, 28%, 11%, 0.5);
}
