.color-wrapper {
  --size: .875rem;
  --border: #000;
  position: relative;
}

.dark .color-wrapper,
.color-wrapper.dark {
  --border: #fff;
}

.color-indicator {
  display: inline-block;
  width: var(--size);
  height: var(--size);
  border: 1px solid var(--border);
  margin-right: .25rem;
}
