:root {
  --rb1: #fb2c36;
  --rb2: #ff6900;
  --rb3: 

  ['#fb2c36', 'oklch(63.7% .237 25.331)'],
  ['#ff6900', 'oklch(70.5% .213 47.604)'],
  ['#fe9a00', 'oklch(76.9% .188 70.08)'],
  ['#f0b100', 'oklch(79.5% .184 86.047)'],
  ['#7ccf00', 'oklch(76.8% .233 130.85)'],
  ['#00c951', 'oklch(72.3% .219 149.579)'],
  ['#00bc7d', 'oklch(69.6% .17 162.48)'],
  ['#00bba7', 'oklch(70.4% .14 182.503)'],
  ['#00b8db', 'oklch(71.5% .143 215.221)'],
  ['#00a6f4', 'oklch(68.5% .169 237.323)'],
  ['#2b7fff', 'oklch(62.3% .214 259.815)'],
  ['#615fff', 'oklch(58.5% .233 277.117)'],
  ['#8e51ff', 'oklch(60.6% .25 292.717)'],
  ['#ad46ff', 'oklch(62.7% .265 303.9)'],
  ['#e12afb', 'oklch(66.7% .295 322.15)'],
  ['#f6339a', 'oklch(65.6% .241 354.308)'],
  ['#ff2056', 'oklch(64.5% .246 16.439)'],
}