.custom-block {
  border: 1px solid currentColor;
  border-inline-start-width: 4px;
  border-radius: 8px;
  padding: 16px 16px 8px;
  line-height: 24px;
}

@each $type in (info, tip, warning, danger, details) {
  .custom-block.#{$type} {
    background-color: var(--vp-custom-block-#{$type}-bg);
    border-color: var(--vp-custom-block-#{$type}-border);
    color: var(--vp-custom-block-#{$type}-text);

    code {
      background-color: var(--vp-custom-block-#{$type}-code-bg);
      color: currentColor;
    }
  }
}

.custom-block-title {
  font-weight: 600;
}

.custom-block p + p {
  margin: 8px 0;
}

.custom-block.details summary {
  margin: 0 0 8px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}

.custom-block.details summary + p {
  margin: 8px 0;
}

.custom-block a {
  color: inherit;
  transition: opacity 0.25s;
}

.custom-block a:hover {
  opacity: 0.75;
}

.custom-block code {
  font-size: var(--vp-custom-block-code-font-size);
}

.custom-block.custom-block th,
.custom-block.custom-block blockquote > p {
  font-size: var(--vp-custom-block-font-size);
  color: inherit;
}
