:root {
  --c-bg: #fff;

  --c-accent: #1e6144;
  --c-accent-light: #257855;
  --c-accent-dark: #184e37;
}

html {
  background-color: var(--c-bg);
}

html.dark {
  --c-bg: #050505;

  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: var(--c-accent);
  opacity: .75;
}

.smooth-line {
  position: relative;

  &::after {
    content: " ";
    display: inline-block;
    width: 0;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 1px;
    left: 110%;
    transition: width .5s,left .5s;
  }

  &:hover::after {
    width: 100%;
    left: 0;
    transition: width .5s;
  }
}

h2 + p > em:first-child {
  opacity: 0.5;
  display: block;
  margin-top: -20px;
  font-size: 0.9em;
}
