:where(ol, ul, menu) {
  padding: 0;
  list-style: none;
}

:where(table) {
  text-indent: 0;
  border-collapse: collapse;
}

:where(a) {
  color: inherit;
  text-decoration: none;
}

:where(iframe) {
  display: block;
  inline-size: 100%;
  block-size: 100%;
}

:where(hr) {
  block-size: 0;
  color: inherit;
  border-block-start-width: 1px;
}

:where(code, kbd, samp, pre) {
  font-family: var(--vp-font-family-mono);
  font-size: 1em;
}

:where(summary) {
  display: 'list-item';
}

::selection {
  background-color: var(--vp-accent-bg-active);
  color: hsla(0, 0%, 0%, var(--vp-opacity-solid));
}

.container {
  width: 100%;
  max-inline-size: 880px;
  margin-inline: auto;
}

.dark {
  color-scheme: dark;

  ::selection {
    color: hsla(0, 0%, 100%, var(--vp-opacity-solid-hover));
  }
}

* {
  border: 0px solid var(--vp-gray-a6);
}

body {
  min-width: 320px;
  min-height: 100vh;
  font: 400 14px / 22px var(--vp-font-family-base);
  color: var(--vp-gray-a12);
  background-color: var(--vp-gray-a1);
}
