:root {
  --vp-gray-a1: hsla(0, 0%, 0%, 0.01);
  --vp-gray-a2: hsla(0, 0%, 0%, 0.02);
  --vp-gray-a3: hsla(0, 0%, 0%, 0.06);
  --vp-gray-a4: hsla(0, 0%, 0%, 0.09);
  --vp-gray-a5: hsla(0, 0%, 0%, 0.12);
  --vp-gray-a6: hsla(0, 0%, 0%, 0.15);
  --vp-gray-a7: hsla(0, 0%, 0%, 0.19);
  --vp-gray-a8: hsla(0, 0%, 0%, 0.27);
  --vp-gray-a9: hsla(0, 0%, 0%, 0.45);
  --vp-gray-a10: hsla(0, 0%, 0%, 0.49);
  --vp-gray-a11: hsla(0, 0%, 0%, 0.61);
  --vp-gray-a12: hsla(0, 0%, 0%, 0.87);

  --vp-blue-a1: hsla(210, 100%, 50%, 0.02);
  --vp-blue-a2: hsla(207, 100%, 50%, 0.04);
  --vp-blue-a3: hsla(205, 100%, 48%, 0.1);
  --vp-blue-a4: hsla(203, 100%, 50%, 0.16);
  --vp-blue-a5: hsla(205, 100%, 50%, 0.24);
  --vp-blue-a6: hsla(207, 100%, 48%, 0.33);
  --vp-blue-a7: hsla(207, 100%, 46%, 0.44);
  --vp-blue-a8: hsla(206, 100%, 45%, 0.63);
  --vp-blue-a9: hsl(206, 100%, 50%);
  --vp-blue-a10: hsla(207, 100%, 47%, 0.98);
  --vp-blue-a11: hsla(208, 100%, 40%, 0.95);
  --vp-blue-a12: hsla(216, 100%, 17%, 0.93);
}

:root {
  --vp-blue-contrast: hsl(0, 0%, 100%);
  --vp-blue-surface: #f1f9ffcc;
}

.dark {
  --vp-gray-a1: hsla(0, 0%, 100%, 0);
  --vp-gray-a2: hsla(0, 0%, 100%, 0.04);
  --vp-gray-a3: hsla(0, 0%, 100%, 0.07);
  --vp-gray-a4: hsla(0, 0%, 100%, 0.11);
  --vp-gray-a5: hsla(0, 0%, 100%, 0.13);
  --vp-gray-a6: hsla(0, 0%, 100%, 0.17);
  --vp-gray-a7: hsla(0, 0%, 100%, 0.23);
  --vp-gray-a8: hsla(0, 0%, 100%, 0.33);
  --vp-gray-a9: hsla(0, 0%, 100%, 0.39);
  --vp-gray-a10: hsla(0, 0%, 100%, 0.45);
  --vp-gray-a11: hsla(0, 0%, 100%, 0.69);
  --vp-gray-a12: hsla(0, 0%, 100%, 0.93);

  --vp-blue-a1: hsla(221, 100%, 47%, 0.07);
  --vp-blue-a2: hsla(218, 97%, 53%, 0.09);
  --vp-blue-a3: hsla(212, 100%, 50%, 0.23);
  --vp-blue-a4: hsla(212, 100%, 50%, 0.34);
  --vp-blue-a5: hsla(209, 100%, 50%, 0.42);
  --vp-blue-a6: hsla(209, 98%, 53%, 0.5);
  --vp-blue-a7: hsla(211, 99%, 58%, 0.6);
  --vp-blue-a8: hsla(211, 99%, 59%, 0.73);
  --vp-blue-a9: hsl(206, 100%, 50%);
  --vp-blue-a10: hsl(210, 100%, 62%);
  --vp-blue-a11: hsl(210, 100%, 72%);
  --vp-blue-a12: hsl(205, 100%, 88%);
}


