
[data-title='config.ts']::before {
  content: '';
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 32 32'%3E%3Cpath fill='%23007acc' d='M23.827 8.243a4.4 4.4 0 0 1 2.223 1.281a6 6 0 0 1 .852 1.143c.011.045-1.534 1.083-2.471 1.662c-.034.023-.169-.124-.322-.35a2.01 2.01 0 0 0-1.67-1c-1.077-.074-1.771.49-1.766 1.433a1.3 1.3 0 0 0 .153.666c.237.49.677.784 2.059 1.383c2.544 1.095 3.636 1.817 4.31 2.843a5.16 5.16 0 0 1 .416 4.333a4.76 4.76 0 0 1-3.932 2.815a11 11 0 0 1-2.708-.028a6.53 6.53 0 0 1-3.616-1.884a6.3 6.3 0 0 1-.926-1.371a3 3 0 0 1 .327-.208c.158-.09.756-.434 1.32-.761l1.024-.6l.214.312a4.8 4.8 0 0 0 1.35 1.292a3.3 3.3 0 0 0 3.458-.175a1.545 1.545 0 0 0 .2-1.974c-.276-.395-.84-.727-2.443-1.422a8.8 8.8 0 0 1-3.349-2.055a4.7 4.7 0 0 1-.976-1.777a7.1 7.1 0 0 1-.062-2.268a4.33 4.33 0 0 1 3.644-3.374a9 9 0 0 1 2.691.084m-8.343 1.483l.011 1.454h-4.63v13.148H7.6V11.183H2.97V9.755a14 14 0 0 1 .04-1.466c.017-.023 2.832-.034 6.245-.028l6.211.017Z'/%3E%3C/svg%3E");
}
[data-title='package.json']::before {
  content: '';
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 32 32'%3E%3Cpath fill='%2383cd29' d='M16 30a2.15 2.15 0 0 1-1.076-.288L11.5 27.685c-.511-.286-.262-.387-.093-.446a6.8 6.8 0 0 0 1.549-.7a.26.26 0 0 1 .255.019l2.631 1.563a.34.34 0 0 0 .318 0l10.26-5.922a.32.32 0 0 0 .157-.278V10.075a.33.33 0 0 0-.159-.283l-10.26-5.917a.32.32 0 0 0-.317 0L5.587 9.794a.33.33 0 0 0-.162.281v11.841a.32.32 0 0 0 .161.274L8.4 23.814c1.525.762 2.459-.136 2.459-1.038V11.085a.3.3 0 0 1 .3-.3h1.3a.3.3 0 0 1 .3.3v11.692c0 2.035-1.108 3.2-3.038 3.2a4.4 4.4 0 0 1-2.363-.642l-2.697-1.547a2.17 2.17 0 0 1-1.076-1.872V10.075A2.16 2.16 0 0 1 4.661 8.2l10.261-5.924a2.25 2.25 0 0 1 2.156 0L27.338 8.2a2.17 2.17 0 0 1 1.077 1.87v11.846a2.17 2.17 0 0 1-1.077 1.872l-10.26 5.924A2.15 2.15 0 0 1 16 30'/%3E%3Cpath fill='%2383cd29' d='M14.054 17.953a.3.3 0 0 1 .3-.3h1.327a.3.3 0 0 1 .295.251c.2 1.351.8 2.032 3.513 2.032c2.161 0 3.082-.489 3.082-1.636c0-.661-.261-1.152-3.62-1.481c-2.808-.278-4.544-.9-4.544-3.144c0-2.07 1.745-3.305 4.67-3.305c3.287 0 4.914 1.141 5.12 3.589a.3.3 0 0 1-.295.323h-1.336a.3.3 0 0 1-.288-.232c-.319-1.421-1.1-1.875-3.2-1.875c-2.36 0-2.634.822-2.634 1.438c0 .746.324.964 3.51 1.385c3.153.417 4.651 1.007 4.651 3.223c0 2.236-1.864 3.516-5.115 3.516c-4.495.006-5.436-2.055-5.436-3.784'/%3E%3C/svg%3E");
}
[data-title='verify-commit.js']::before,[data-title='config.js']::before {
  content: '';
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 32 32'%3E%3Cpath fill='%23f5de19' d='M18.774 19.7a3.73 3.73 0 0 0 3.376 2.078c1.418 0 2.324-.709 2.324-1.688c0-1.173-.931-1.589-2.491-2.272l-.856-.367c-2.469-1.052-4.11-2.37-4.11-5.156c0-2.567 1.956-4.52 5.012-4.52A5.06 5.06 0 0 1 26.9 10.52l-2.665 1.711a2.33 2.33 0 0 0-2.2-1.467a1.49 1.49 0 0 0-1.638 1.467c0 1.027.636 1.442 2.1 2.078l.856.366c2.908 1.247 4.549 2.518 4.549 5.376c0 3.081-2.42 4.769-5.671 4.769a6.58 6.58 0 0 1-6.236-3.5ZM6.686 20c.538.954 1.027 1.76 2.2 1.76c1.124 0 1.834-.44 1.834-2.15V7.975h3.422v11.683c0 3.543-2.078 5.156-5.11 5.156A5.31 5.31 0 0 1 3.9 21.688Z'/%3E%3C/svg%3E");
}:root {
  --gray-a1: hsla(0, 0%, 0%, 0.01);
  --gray-a2: hsla(0, 0%, 0%, 0.02);
  --gray-a3: hsla(0, 0%, 0%, 0.06);
  --gray-a4: hsla(0, 0%, 0%, 0.09);
  --gray-a5: hsla(0, 0%, 0%, 0.12);
  --gray-a6: hsla(0, 0%, 0%, 0.15);
  --gray-a7: hsla(0, 0%, 0%, 0.19);
  --gray-a8: hsla(0, 0%, 0%, 0.27);
  --gray-a9: hsla(0, 0%, 0%, 0.45);
  --gray-a10: hsla(0, 0%, 0%, 0.49);
  --gray-a11: hsla(0, 0%, 0%, 0.61);
  --gray-a12: hsla(0, 0%, 0%, 0.87);
  --yellow-a1: hsla(60, 100%, 33%, 0.02);
  --yellow-a2: hsla(54, 100%, 48%, 0.09);
  --yellow-a3: hsla(56, 100%, 50%, 0.28);
  --yellow-a4: hsla(53, 100%, 50%, 0.42);
  --yellow-a5: hsla(50, 100%, 50%, 0.56);
  --yellow-a6: hsla(48, 100%, 46%, 0.59);
  --yellow-a7: hsla(46, 100%, 41%, 0.6);
  --yellow-a8: hsla(45, 100%, 39%, 0.78);
  --yellow-a9: hsla(53, 100%, 50%, 0.84);
  --yellow-a10: hsl(52, 100%, 50%);
  --yellow-a11: hsl(41, 100%, 31%);
  --yellow-a12: hsla(42, 100%, 9%, 0.88);
  --red-a1: hsla(0, 100%, 50%, 0.01);
  --red-a2: hsla(0, 100%, 50%, 0.03);
  --red-a3: hsla(357, 100%, 48%, 0.08);
  --red-a4: hsla(358, 100%, 50%, 0.14);
  --red-a5: hsla(359, 100%, 50%, 0.2);
  --red-a6: hsla(359, 100%, 49%, 0.26);
  --red-a7: hsla(359, 100%, 44%, 0.34);
  --red-a8: hsla(359, 100%, 41%, 0.44);
  --red-a9: hsla(358, 100%, 43%, 0.72);
  --red-a10: hsla(359, 100%, 41%, 0.76);
  --red-a11: hsla(358, 100%, 38%, 0.83);
  --red-a12: hsla(351, 100%, 17%, 0.91);
  --purple-a1: hsla(300, 100%, 33%, 0.01);
  --purple-a2: hsla(274, 100%, 44%, 0.03);
  --purple-a3: hsla(275, 100%, 47%, 0.07);
  --purple-a4: hsla(277, 100%, 45%, 0.11);
  --purple-a5: hsla(275, 100%, 43%, 0.16);
  --purple-a6: hsla(275, 99%, 41%, 0.23);
  --purple-a7: hsla(274, 100%, 38%, 0.31);
  --purple-a8: hsla(272, 100%, 38%, 0.42);
  --purple-a9: hsla(272, 100%, 34%, 0.69);
  --purple-a10: hsla(272, 100%, 31%, 0.72);
  --purple-a11: hsla(272, 100%, 30%, 0.73);
  --purple-a12: hsla(270, 100%, 14%, 0.87);
  --blue-a1: hsla(210, 100%, 50%, 0.02);
  --blue-a2: hsla(207, 100%, 50%, 0.04);
  --blue-a3: hsla(205, 100%, 48%, 0.1);
  --blue-a4: hsla(203, 100%, 50%, 0.16);
  --blue-a5: hsla(205, 100%, 50%, 0.24);
  --blue-a6: hsla(207, 100%, 48%, 0.33);
  --blue-a7: hsla(207, 100%, 46%, 0.44);
  --blue-a8: hsla(206, 100%, 45%, 0.63);
  --blue-a9: hsl(206, 100%, 50%);
  --blue-a10: hsla(207, 100%, 47%, 0.98);
  --blue-a11: hsla(208, 100%, 40%, 0.95);
  --blue-a12: hsla(216, 100%, 17%, 0.93);
  --green-a1: hsla(140, 100%, 38%, 0.02);
  --green-a2: hsla(137, 100%, 32%, 0.04);
  --green-a3: hsla(139, 100%, 32%, 0.1);
  --green-a4: hsla(140, 100%, 33%, 0.16);
  --green-a5: hsla(142, 99%, 31%, 0.23);
  --green-a6: hsla(144, 100%, 29%, 0.32);
  --green-a7: hsla(146, 100%, 28%, 0.44);
  --green-a8: hsla(151, 100%, 29%, 0.64);
  --green-a9: hsla(151, 100%, 28%, 0.81);
  --green-a10: hsla(152, 100%, 26%, 0.83);
  --green-a11: hsla(153, 100%, 22%, 0.87);
  --green-a12: hsla(155, 100%, 7%, 0.9);
}

.dark {
  --gray-a1: hsla(0, 0%, 100%, 0);
  --gray-a2: hsla(0, 0%, 100%, 0.04);
  --gray-a3: hsla(0, 0%, 100%, 0.07);
  --gray-a4: hsla(0, 0%, 100%, 0.11);
  --gray-a5: hsla(0, 0%, 100%, 0.13);
  --gray-a6: hsla(0, 0%, 100%, 0.17);
  --gray-a7: hsla(0, 0%, 100%, 0.23);
  --gray-a8: hsla(0, 0%, 100%, 0.33);
  --gray-a9: hsla(0, 0%, 100%, 0.39);
  --gray-a10: hsla(0, 0%, 100%, 0.45);
  --gray-a11: hsla(0, 0%, 100%, 0.69);
  --gray-a12: hsla(0, 0%, 100%, 0.93);
  --yellow-a1: hsla(23, 100%, 41%, 0.02);
  --yellow-a2: hsla(43, 100%, 49%, 0.04);
  --yellow-a3: hsla(40, 100%, 50%, 0.12);
  --yellow-a4: hsla(43, 100%, 50%, 0.16);
  --yellow-a5: hsla(44, 100%, 50%, 0.21);
  --yellow-a6: hsla(46, 100%, 50%, 0.27);
  --yellow-a7: hsla(46, 98%, 56%, 0.36);
  --yellow-a8: hsla(45, 98%, 59%, 0.48);
  --yellow-a9: hsl(53, 100%, 58%);
  --yellow-a10: hsl(60, 100%, 67%);
  --yellow-a11: hsla(53, 99%, 64%, 0.96);
  --yellow-a12: hsla(53, 97%, 86%, 0.96);
  --red-a1: hsla(0, 91%, 51%, 0.04);
  --red-a2: hsla(355, 88%, 57%, 0.07);
  --red-a3: hsla(350, 100%, 55%, 0.18);
  --red-a4: hsla(348, 99%, 52%, 0.27);
  --red-a5: hsla(350, 100%, 56%, 0.34);
  --red-a6: hsla(353, 100%, 62%, 0.41);
  --red-a7: hsla(355, 100%, 66%, 0.52);
  --red-a8: hsla(359, 100%, 68%, 0.69);
  --red-a9: hsla(358, 99%, 65%, 0.89);
  --red-a10: hsla(360, 100%, 70%, 0.92);
  --red-a11: hsl(2, 100%, 79%);
  --red-a12: hsl(350, 100%, 91%);
  --purple-a1: hsla(282, 95%, 52%, 0.04);
  --purple-a2: hsla(279, 92%, 62%, 0.08);
  --purple-a3: hsla(279, 100%, 66%, 0.18);
  --purple-a4: hsla(277, 98%, 66%, 0.26);
  --purple-a5: hsla(277, 98%, 68%, 0.32);
  --purple-a6: hsla(275, 97%, 71%, 0.38);
  --purple-a7: hsla(274, 97%, 73%, 0.48);
  --purple-a8: hsla(273, 100%, 75%, 0.64);
  --purple-a9: hsla(272, 100%, 69%, 0.76);
  --purple-a10: hsla(272, 100%, 72%, 0.8);
  --purple-a11: hsla(272, 100%, 81%);
  --purple-a12: hsla(275, 100%, 93%, 0.98);
  --blue-a1: hsla(221, 100%, 47%, 0.07);
  --blue-a2: hsla(218, 97%, 53%, 0.09);
  --blue-a3: hsla(212, 100%, 50%, 0.23);
  --blue-a4: hsla(212, 100%, 50%, 0.34);
  --blue-a5: hsla(209, 100%, 50%, 0.42);
  --blue-a6: hsla(209, 98%, 53%, 0.5);
  --blue-a7: hsla(211, 99%, 58%, 0.6);
  --blue-a8: hsla(211, 99%, 59%, 0.73);
  --blue-a9: hsl(206, 100%, 50%);
  --blue-a10: hsl(210, 100%, 62%);
  --blue-a11: hsl(210, 100%, 72%);
  --blue-a12: hsl(205, 100%, 88%);
  --green-a1: hsla(139, 100%, 44%, 0.02);
  --green-a2: hsla(153, 95%, 57%, 0.04);
  --green-a3: hsla(152, 100%, 57%, 0.12);
  --green-a4: hsla(154, 100%, 53%, 0.18);
  --green-a5: hsla(154, 100%, 58%, 0.24);
  --green-a6: hsla(153, 100%, 63%, 0.29);
  --green-a7: hsla(152, 98%, 65%, 0.37);
  --green-a8: hsla(151, 100%, 66%, 0.45);
  --green-a9: hsla(151, 100%, 63%, 0.62);
  --green-a10: hsla(151, 99%, 63%, 0.67);
  --green-a11: hsla(151, 99%, 64%, 0.83);
  --green-a12: hsla(145, 100%, 87%, 0.94);
}

:root {
  --yellow-surface: hsla(53, 93%, 95%, 0.8);
  --red-surface: hsla(0, 100%, 98%, 0.8);
  --purple-surface: hsla(273, 82%, 98%, 0.8);
  --blue-surface: hsla(206, 100%, 97%, 0.8);
  --green-surface: hsla(140, 47%, 96%, 0.8);
}

.dark {
  --yellow-surface: hsla(45, 30%, 11%, 0.8);
  --red-surface: hsla(355, 38%, 13%, 0.5);
  --purple-surface: hsla(280, 39%, 15%, 0.5);
  --blue-surface: hsla(218, 56%, 15%, 0.5);
  --green-surface: hsla(150, 28%, 11%, 0.5);
}

:root {
  --fill-color: #f9f9f9;
  --fill-deep-color: #f5f5f5;
  --fill-deeper-color: #f1f1f1;
  --accent-color: #268bd2;
  --border-color: #dfdfdf;
  --body-color: #515151;
  --body-bg: #fff;
  --leading-color: #313131;
  --leading-anchor-symbol: '#';
  --link-color: var(--accent-color);
  --code-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas," Liberation Mono", "Courier New", monospace;
  --code-color: #B8515A;
  --code-bg: var(--fill-color);
  --code-copy-copied-bg: var(--body-bg);
  --code-line-highlight-color: rgba(142, 150, 170, 0.14);
  --code-line-number-color: var(--home-date-color);
  --code-line-diff-add-color: var(--green-a3);
  --code-line-diff-add-symbol-color: var(--green-a9);
  --code-line-diff-remove-color: var(--red-a3);
  --code-line-diff-remove-symbol-color: var(--red-a9);
  --code-line-warning-color: var(--yellow-a3);
  --code-line-error-color: var(--red-a3);
  --code-tab-bg: var(--fill-deeper-color);
  --code-tab-color: #888;
  --custom-block-info-border: var(--blue-a7);
  --custom-block-info-text: var(--blue-a11);
  --custom-block-info-bg: var(--blue-surface);
  --custom-block-info-code-bg: var(--blue-a3);
  --custom-block-tip-border: var(--purple-a7);
  --custom-block-tip-text: var(--purple-a11);
  --custom-block-tip-bg: var(--purple-surface);
  --custom-block-tip-code-bg: var(--purple-a3);
  --custom-block-warning-border: var(--yellow-a7);
  --custom-block-warning-text: var(--yellow-a11);
  --custom-block-warning-bg: var(--yellow-surface);
  --custom-block-warning-code-bg: var(--yellow-a3);
  --custom-block-danger-border: var(--red-a7);
  --custom-block-danger-text: var(--red-a11);
  --custom-block-danger-bg: var(--red-surface);
  --custom-block-danger-code-bg: var(--red-a3);
  --home-date-color: #949494;
}

:lang(zh-Hans) {
  --code-copy-copied-text-content: '已复制';
}

.dark {
  color-scheme: dark;
  --fill-color: #171717;
  --fill-deep-color: #141414;
  --fill-deeper-color: #101010;
  --border-color: #292929;
  --body-bg: #080808;
  --body-color: #a1a1a1;
  --leading-color: #c1c1c1;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

[hidden]:not([hidden=until-found]) {
  display: none !important;
}

html {
  font: 400 16px/1.5 sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mac:lang(zh-Hans) {
  font-family: -apple-system, Inter, BlinkMacSystemFont, "PingFang SC", "Hiragino Sans GB", sans-serif;
}

.windows:lang(zh-Hans) {
  font-family: Inter, "Segoe WPC", "Segoe UI", "Microsoft YaHei", sans-serif;
}

.linux:lang(zh-Hans) {
  font-family: system-ui, Inter, "Ubuntu", "Droid Sans", "Source Han Sans SC", "Source Han Sans CN", "Source Han Sans", sans-serif;
}

body {
  min-width: 320px;
  color: var(--body-color);
  background-color: var(--body-bg);
}

table {
  text-indent: 0;
  border-collapse: collapse;
}

iframe {
  display: block;
  width: 100%;
  height: 100%;
  border-style: none;
}

hr {
  height: 0;
  border: none;
  color: inherit;
  border-top: 1px solid var(--border-color);
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: none;
}

code, kbd, samp, pre {
  font-family: var(--code-font);
}

summary {
  display: list-item;
}

:root {
  --vp-icon-copy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3C/g%3E%3C/svg%3E");
  --vp-icon-copied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3Cpath d='m9 14l2 2l4-4'/%3E%3C/g%3E%3C/svg%3E");
}

.header-anchor {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 85%;
  color: inherit;
  opacity: 0;
  user-select: none;
  transform: translate(-0.87em, -50%);
}
.header-anchor::before {
  content: var(--leading-anchor-symbol);
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
  margin-bottom: 0.5rem;
  line-height: 1.25;
  font-weight: bold;
  color: var(--leading-color);
}
h1:hover .header-anchor, h2:hover .header-anchor, h3:hover .header-anchor, h4:hover .header-anchor, h5:hover .header-anchor, h6:hover .header-anchor {
  opacity: 1;
}

h1 {
  font-size: 2rem;
  letter-spacing: -0.02em;
}

h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
  letter-spacing: -0.02em;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  letter-spacing: -0.01em;
}

h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
}

img, video {
  margin: 1rem 0;
}

hr {
  margin: 1.5rem 0;
}

ul, ol {
  margin-bottom: 1rem;
  padding-left: 1.25rem;
}
ul :is(ul, ol), ol :is(ul, ol) {
  margin-bottom: 0;
}

li + li, li > :is(ul, ol) {
  margin-top: 0.5rem;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
  color: var(--leading-color);
}

abbr {
  font-size: 85%;
  font-weight: bold;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted var(--border-color);
}

code {
  padding: 0.25em 0.5em;
  font-size: 85%;
  color: var(--code-color);
  background-color: var(--code-bg);
  border-radius: 3px;
}

pre {
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  overflow-x: auto;
}
pre code {
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  border-radius: 0;
  background-color: transparent;
}

.shiki span {
  color: var(--shiki-light, inherit);
}
.dark .shiki span {
  color: var(--shiki-dark, inherit);
}

div[class*=language-] {
  --code-pt: 1.5rem;
  --code-px: 1.5rem;
  position: relative;
  margin: 0 -1.5rem 1rem;
  background: var(--fill-color);
  overflow-x: auto;
}
@media (min-width: 560px) {
  div[class*=language-] {
    margin-right: 0;
    margin-left: 0;
    border-radius: 0.375rem;
    box-shadow: 0 0 0 1px var(--border-color);
  }
  div[class*=language-] code {
    --code-px: 1rem;
  }
}
div[class*=language-] pre, div[class*=language-] code, div[class*=language-] .line-numbers-wrapper {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  line-height: 1.5rem;
  font-size: 0.875rem;
}
div[class*=language-] pre {
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  padding: var(--code-pt) 0 1rem;
  background: transparent;
  overflow-x: auto;
}
div[class*=language-] code {
  display: block;
  width: fit-content;
  min-width: 100%;
  padding: 0 var(--code-px);
}
div[class*=language-] code :is(.highlighted, .diff) {
  display: inline-block;
  width: calc(100% + 2 * var(--code-px));
  margin: 0 calc(var(--code-px) * -1);
  padding: 0 var(--code-px);
}
div[class*=language-] code .highlighted {
  background-color: var(--code-line-highlight-color);
}
div[class*=language-] code .highlighted.error {
  background-color: var(--code-line-error-color);
}
div[class*=language-] code .highlighted.warning {
  background-color: var(--code-line-warning-color);
}
div[class*=language-] code .diff::before {
  position: absolute;
  left: calc(0.5rem + 2px);
}
div[class*=language-] code .diff.remove {
  background-color: var(--code-line-diff-remove-color);
  opacity: 0.7;
}
div[class*=language-] code .diff.remove::before {
  content: "-";
  color: var(--code-line-diff-remove-symbol-color);
}
div[class*=language-] code .diff.add {
  background-color: var(--code-line-diff-add-color);
}
div[class*=language-] code .diff.add::before {
  content: "+";
  color: var(--code-line-diff-add-symbol-color);
}
div[class*=language-] .has-focused-lines .line:not(.has-focus) {
  filter: blur(0.095rem);
  opacity: 0.7;
  transition: filter 0.35s, opacity 0.35s;
}
div[class*=language-]:hover .has-focused-lines .line:not(.has-focus) {
  filter: blur(0);
  opacity: 1;
}
div[class*=language-].line-numbers-mode {
  padding-left: 2rem;
}
div[class*=language-].line-numbers-mode .line-numbers-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  padding-top: var(--code-pt);
  width: 2rem;
  background-color: var(--code-tab-bg);
  text-align: center;
  font-family: var(--code-font);
  color: var(--code-line-number-color);
  user-select: none;
}
div[class*=language-] > span.lang {
  position: absolute;
  top: 0;
  right: calc(0.5rem + 1px);
  z-index: 2;
  font-weight: 500;
  user-select: none;
  transition: opacity 0.15s;
}
div[class*=language-] > button.copy {
  --rad: .25rem;
  --size: 2rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 3;
  width: var(--size);
  height: var(--size);
  padding: 0;
  background-color: var(--fill-color);
  background-image: var(--vp-icon-copy);
  background-position: 50%;
  background-size: calc(var(--size) / 2);
  background-repeat: no-repeat;
  border: 1px solid var(--border-color);
  border-radius: var(--rad);
  color: var(--body-color);
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.25s, background-color 0.25s;
}
div[class*=language-] > button.copy:hover, div[class*=language-] > button.copy.copied {
  background-color: var(--code-copy-copied-bg);
}
div[class*=language-] > button.copy.copied {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-image: var(--vp-icon-copied);
}
div[class*=language-] > button.copy.copied::before {
  content: var(--code-copy-copied-text-content);
  position: relative;
  top: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 2rem;
  padding: 0 0.5rem;
  background-color: inherit;
  border: 1px solid var(--border-color);
  border-radius: var(--rad) 0 0 var(--rad);
  font-size: 0.75rem;
  white-space: nowrap;
  transform: translateX(-100%);
}
div[class*=language-]:hover > button.copy, div[class*=language-] > button.copy:focus {
  opacity: 1;
}
div[class*=language-]:hover > button.copy + span.lang, div[class*=language-] > button.copy:focus + span.lang {
  opacity: 0;
}

.vp-code-group {
  margin-bottom: 1rem;
}
.vp-code-group .tabs {
  position: relative;
  z-index: 1;
  display: flex;
  margin: 0 -1.5rem;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: var(--code-tab-bg);
  overflow-x: auto;
  overflow-y: hidden;
}
@media (min-width: 560px) {
  .vp-code-group .tabs {
    margin-right: 0;
    margin-left: 0;
    border-radius: 0.375rem 0.375rem 0 0;
    box-shadow: 1px 0 0 0 var(--border-color), -1px 0 0 0 var(--border-color), 0 -1px 0 0 var(--border-color);
  }
}
.vp-code-group .tabs label {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  color: var(--code-tab-color);
}
.vp-code-group .tabs input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
.vp-code-group div[class*=language-] {
  margin-bottom: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.vp-code-group:not(.vp-code-block) div[class*=language-] {
  display: none;
}
.vp-code-group.vp-code-block div[class*=language-], .vp-code-group div[class*=language-].active {
  display: block;
}
.vp-code-group [data-title]::before {
  width: 1rem;
  height: 1rem;
  font-size: 0.75rem;
  background: var(--icon) no-repeat center/contain;
}
.vp-code-group:not(.vp-code-block) [data-title] {
  cursor: pointer;
}
.vp-code-group.vp-code-block [data-title], .vp-code-group:not(.vp-code-block) .tabs input:checked + [data-title] {
  color: var(--leading-color);
}

table {
  display: block;
  margin: 0 0 1rem;
  overflow-x: auto;
}
table :is(th, td) {
  padding: 0.5rem;
  border-bottom: 1px solid var(--border-color);
}
table th {
  text-align: left;
  vertical-align: bottom;
  color: var(--leading-color);
  font-weight: bold;
  border-bottom-width: 2px;
  white-space: nowrap;
}
table td {
  vertical-align: top;
}

.custom-block, blockquote {
  margin: 0 0 1rem;
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  border-left: 0.25rem solid var(--border-color);
}
.custom-block :first-child, blockquote :first-child {
  margin-top: 0;
}
.custom-block :last-child, blockquote :last-child {
  margin-bottom: 0;
}
.custom-block div[class*=language-] code, blockquote div[class*=language-] code {
  background: transparent;
}
.custom-block .vp-code-group .tabs, blockquote .vp-code-group .tabs {
  margin: 0;
  border-radius: 2px 2px 0 0;
}

:is(.custom-block:not(.details), blockquote, ul, ol, dl) div[class*=language-] {
  margin-right: 0;
  margin-left: 0;
}

blockquote {
  color: #7a7a7a;
}
@media (min-width: 560px) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

details {
  border-left: none !important;
  padding: 0 !important;
}
details summary {
  cursor: pointer;
  font-weight: bold;
  user-select: none;
  color: var(--leading-color);
}
details[open] summary {
  margin-bottom: 0.5rem;
}

.custom-block.info {
  background-color: var(--custom-block-info-bg);
  border-color: var(--custom-block-info-border);
  color: var(--custom-block-info-text);
}
.custom-block.info code {
  background-color: var(--custom-block-info-code-bg);
  color: currentColor;
}
.custom-block.tip {
  background-color: var(--custom-block-tip-bg);
  border-color: var(--custom-block-tip-border);
  color: var(--custom-block-tip-text);
}
.custom-block.tip code {
  background-color: var(--custom-block-tip-code-bg);
  color: currentColor;
}
.custom-block.warning {
  background-color: var(--custom-block-warning-bg);
  border-color: var(--custom-block-warning-border);
  color: var(--custom-block-warning-text);
}
.custom-block.warning code {
  background-color: var(--custom-block-warning-code-bg);
  color: currentColor;
}
.custom-block.danger {
  background-color: var(--custom-block-danger-bg);
  border-color: var(--custom-block-danger-border);
  color: var(--custom-block-danger-text);
}
.custom-block.danger code {
  background-color: var(--custom-block-danger-code-bg);
  color: currentColor;
}
.custom-block-title {
  font-weight: bold;
}

a[href^="#fn:"],
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: 0.1rem;
  font-weight: bold;
}.kze9qsvl {
  color: inherit;
}
.kze9qsvl:hover {
  color: var(--link-color);
}.ngecjshw {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
}
.kbcnmp21 {
  margin: 0;
  font-size: 1rem;
}
.kbcnmp21 > a {
  color: inherit;
}
.kbcnmp21 > a::before {
  content: "@";
  margin-right: 0.2rem;
  font-size: 0.875rem;
  vertical-align: 0.1em;
}
.hln63f8x {
  text-decoration: underline;
}
.rdvnksp5 {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.rdvnksp5 li {
  margin: 0;
}
.rdvnksp5 li:not(:first-child)::before {
  content: "/";
  margin-right: 0.75rem;
}.kal8uqjs {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--border-color);
  background: var(--body-bg);
  font-size: 1rem;
  user-select: none;
  outline: none;
  cursor: pointer;
}
.kal8uqjs:not(.disabled):focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}
.kal8uqjs:not(.disabled):hover, .kal8uqjs:not(.disabled).active {
  background: var(--fill-color);
}
.kal8uqjs:not(a) {
  color: inherit;
}
.kal8uqjs.square {
  padding: 0.25rem;
}
.kal8uqjs.disabled {
  cursor: default !important;
  color: #ccc !important;
  pointer-events: none !important;
}.vluk93lh, .dark .taak5gam {
  display: none;
}
.dark .vluk93lh {
  display: initial;
}.vut2zd8q {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.jbzb3bsf {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
  margin-right: 1rem;
}
@media (min-width: 44rem) {
.jbzb3bsf {
    margin-right: 0;
}
.etrcwlwr {
    display: none;
}
}.phgu1s4d {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
.phgu1s4d.show {
  opacity: 1;
  pointer-events: auto;
}.pae0gb7q {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media print {
.pae0gb7q {
    display: none;
}
}.wnbgn8g5 {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}
.wnbgn8g5 > h1 {
  order: 2;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}
.wnbgn8g5 > time {
  display: flex;
  align-items: center;
  color: var(--home-date-color);
  cursor: default;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.wnbgn8g5 a {
  color: var(--body-color);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-underline-offset: clamp(2px, 0.2em, 6px);
}
.wnbgn8g5 a:hover {
  color: var(--link-color);
}
.wnbgn8g5 + .wnbgn8g5 {
  margin-top: 0.5rem;
}
.lowthjtg {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  --size: .125rem;
  width: var(--size);
  height: var(--size);
  border-radius: calc(var(--size) * 4);
  background-color: currentColor;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}.kgc8n5lu {
  list-style: none;
}
.kgc8n5lu.root {
  padding-left: 0;
  margin-bottom: 0;
}
.woz9u05i {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: inherit;
  white-space: nowrap;
  transition: color 0.5s;
}
.woz9u05i:hover, .woz9u05i.active {
  color: var(--accent-color);
  transition: color 0.25s;
}
.woz9u05i.nested {
  padding-left: 13px;
}.lbc6a3hv {
  display: none;
  overflow: auto;
  scrollbar-width: thin;
  padding-left: 1.5rem;
}
.lbc6a3hv.show {
  display: block;
}
.gx941hbb {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--leading-color);
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  background-color: var(--body-bg);
}
.mdxy9x7r {
  position: relative;
}
.bv99p137 {
  position: absolute;
  top: 0;
  left: -1rem;
  z-index: 0;
  opacity: 0;
  width: 0.25rem;
  border-radius: 0.25rem;
  height: 18px;
  background-color: var(--accent-color);
  transition: top 0.25s cubic-bezier(0, 1, 0.5, 1), background-color 0.5s, opacity 0.25s;
}.cxmyf8y7 {
  margin: 0 -1.5rem 1rem;
  overflow: hidden;
}
.bz8snivf {
  display: flex;
  padding: 1rem;
  border: solid var(--border-color);
  border-width: 1px 0;
  border-radius: 0;
}
.bz8snivf:first-child {
  margin-bottom: -1px;
}
@media (min-width: 560px) {
.cxmyf8y7 {
    margin: 3rem 0;
}
.bz8snivf {
    float: left;
    width: 50%;
    border-width: 1px;
}
.bz8snivf:first-child {
    margin-bottom: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.bz8snivf:last-child {
    margin-left: -1px;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
}.lkvw5g3c {
  margin-bottom: 4em;
  word-break: break-word;
  hyphens: auto;
}
.lkvw5g3c > h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.lkvw5g3c > time {
  display: block;
  color: var(--home-date-color);
  margin-bottom: 2rem;
}
.lkvw5g3c:hover .uxo0kl0v [role=heading] > *,
.lkvw5g3c:hover .uxo0kl0v > div {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.uxo0kl0v {
  position: fixed;
  top: 4rem;
  bottom: 2rem;
  left: 0.5rem;
}
.uxo0kl0v [role=heading] > *:not(svg),
.uxo0kl0v > *:not([role=heading]) {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.5s 1s, visibility 0.5s 1s;
}
.uxo0kl0v [role=heading] > svg {
  opacity: 0.3;
  transition: opacity 0.5s;
}
#post-content a:not(.header-anchor):hover {
  text-decoration: underline;
}.xdnnjyo1 {
  position: relative;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  grid-template-columns: 100%;
  max-width: 38rem;
  min-height: 100vh;
  min-height: 100dvh;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}
.foirxmhc {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@media (min-width: 44rem) {
.foirxmhc {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
}